In [2]:
import pandas as pd
import datetime

In [4]:

df = pd.read_excel('/Users/trac.k.y/Documents/pstat131/aita/aita_dataset_full.xlsx')
df.head()

,title,post_text,upvote_percentage,judgment,num_comments,url,time_posted,time_gathered
0,AITA for bringing this sub to TV?? Let’s find ...,"Hey, everybody, remember me? I’m flignir, the ...",38.0,NaN,NaN,NaN,NaT,NaT
1,AITA Monthly Open Forum Spooktober 2023,Trick or Treat mod talk for now\n\n[BooOoOoOoo...,81.0,NaN,NaN,NaN,NaT,NaT
2,AITA for accidentally bring a kid to a kidless...,"About four weeks ago our family (me, my husban...",90.0,NAH,NaN,NaN,NaT,NaT
3,AITA for telling my sil that I won't waste my ...,I teach painting. Recently I found out that my...,90.0,ESH,NaN,NaN,NaT,NaT
4,AITA for kicking out my SIL after she cut my s...,"Sorry if anything sounds weird, English is not...",96.0,NTA,NaN,NaN,NaT,NaT

In [38]:
df2 = df.dropna(subset = ['judgment','time_posted'])
df2 = df2.drop_duplicates(subset = ['url'], keep = 'last')
df2.reset_index(inplace=True)
df2 = df2.drop(columns=['index'])
df2.head()

,title,post_text,upvote_percentage,judgment,num_comments,url,time_posted,time_gathered
0,AITA for telling my wife the lock on my daught...,My brother in-law (Sammy) lost his home shortl...,92.0,NTA,5265.0,https://www.reddit.com/r/AmItheAsshole/comment...,2021-07-03 05:36:22,2023-10-04 19:01:05.401
1,AITA For suing my girlfriend after she had my ...,I'll try to keep this short. I had a [1967 Imp...,98.0,NTA,2742.0,https://www.reddit.com/r/AmItheAsshole/comment...,2020-05-26 16:35:45,2023-10-04 19:01:05.493
2,AITA for bringing my SIL’s wallet to the resta...,Edit: update on profile\n\nMy (f28) SIL “Amy” ...,98.0,NTA,3815.0,https://www.reddit.com/r/AmItheAsshole/comment...,2022-08-31 10:59:37,2023-10-04 19:01:05.512
3,AITA for pretending to get fired when customer...,I am a high schooler with a weekend job at a c...,92.0,NTA,3610.0,https://www.reddit.com/r/AmItheAsshole/comment...,2019-12-03 09:07:53,2023-10-04 19:01:05.551
4,"AITA for bringing up my brother's ""premature"" ...",I am a nurse practitioner and I am the primary...,94.0,NTA,3358.0,https://www.reddit.com/r/AmItheAsshole/comment...,2022-12-26 04:44:43,2023-10-04 19:01:05.572

In [39]:
with pd.ExcelWriter('/Users/trac.k.y/Documents/pstat131/aita/aita_dataset_final.xlsx',
                            engine='xlsxwriter',
                            engine_kwargs={'options': {'strings_to_urls': False}}) as writer:
            df2.to_excel(writer, sheet_name = 'test')